/* *{
    background-color: rgb(75, 191, 234);
    color: black;
}
h1{
    color: aliceblue;
}
p{
    background-color: aquamarine;
} */
.Head_One{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
}
#Head_Two{
    font-size: large;
    font-family: cursive;
    background-color: aqua;
}